<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBeWIFnsyLFUZ4-BTTV0oGN2w2tWHcGW2s</string>
	<key>GCM_SENDER_ID</key>
	<string>1031052423041</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.juliomacedo0.remedium</string>
	<key>PROJECT_ID</key>
	<string>remedium-3275f</string>
	<key>STORAGE_BUCKET</key>
	<string>remedium-3275f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1031052423041:ios:fe8fbf4f4ce1fe70194280</string>
</dict>
</plist>